/* FONT IMPORT */
/* All fonts from fonts.google.com */

.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-semibold {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.titillium-web-light {
    font-family: "Titillium Web", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", system-ui;
    font-weight: 700;
    font-style: normal;
  }





/* CSS RESET AND NORMALIZATION   CSS CSS CSS CSS CSS CSS CSS CSS CSS  */
/* Remove annoying padding (opinion) */
body, ul, p, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remove annoying text decoration (opinion) */
a {
    text-decoration: none;
    color: inherit;
}





/* THEME TH TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH   */

:root {
    /* Colors */
    --background-color: #00302a;
    --background-color-darker: #001c17;
    --accent-color: #07463f;
    --valid-color: #e1ff67;
    --font-default-color: #ffffff;
}

body {
    /* Font and color declarations */
    background-color: var(--background-color, #0F220F);
}

h1, h2, h3, h4, h5, a, p, input {
    /* Font and color declarations */
    font-family: Syne, sans-serif;
    color: var(--font-default-color,#ffffff);

    /* CBPM */
    padding: 0;
    margin: 0;
}

p {
    /* Font and color declarations */
    font-family: Titillium Web, sans-serif;
}

a {
    /* Font and color declarations */
    color: var(--valid-color, white);
}



/* LAYOUT GRID LG   LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG   */
.layout-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 25vh 75vh;

    /* Transforms and constraints */
    max-height: 100vh;

    /* DEBUG BORDERS */
    /* border: 2px solid white; */

}

.sidebar {
    /* Display declarations */
    display: grid;
    grid-template-rows: 0.25fr 2fr 2fr;

    /* Grid declarations */
    grid-area: 1 / 1 / -1 / 2;

    /* DEBUG BORDERS */
    border: 2px solid red;
}

.header-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: minmax(50px, 80px) minmax(120px, 1.5fr);

    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;

    /* CBPM */
    padding: 6px 36px;
    box-shadow: 4px 4px 4px #000000;

    /* DEBUG BORDERS */
    /* border: 2px solid green; */
}

.content-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40px 4fr 1fr 4fr;

    /* Grid declarations */
    grid-area: 2 / 2 / -1 / -1;

    /* Font and color declarations */
    background-color: var(--background-color-darker);

    /* Transforms and constraints */
    flex-grow: 1;

    /* CBPM */
    padding: 6px 24px;
    
    /* DEBUG BORDERS */
    /* border: 2px solid blue; */

}



/* SIDEBAR STYLE    SB  SB  SB  SB  SB  SB  SB  SB  SB  SB  SB  SB   */




/* HEADER STYLE H   H   H   H   H   H   H   H   H   H   H   H   H   H*/

/* /* Header Search Bar hs  hs  hs  hs  hs  hs */
.header-search-bar {
    /* Display declarations */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;

    /* Grid declarations */
    grid-area: 1 / 1 / 2 / 2;

    /* CBPM */
    padding-right: 12px;

    /* DEBUG BORDERS */
    /* border: 2px solid cyan; */
}

.search-icon {
    /* Font and color declarations */
    filter: invert(79%) sepia(90%) saturate(287%) hue-rotate(18deg) brightness(104%) contrast(104%);

    /* Transforms and constraints */
    height: 24px;
    
}

.search-icon:hover {
    /* Font and color declarations */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(104%) contrast(102%);
}

.header-search-bar input {
    /* Display declarations */
    flex-grow: 1;

    /* Font and color declarations */
    font-size: 1.1rem;
    background-color: var(--background-color-darker);

    /* Transforms and constraints */
    height: 24px;
    max-width: 400px;

    /* CBPM */
    border-radius: 10px;
    border: 2px solid var(--valid-color);
    padding: 2px 8px;

}

.header-search-bar input:hover {
    /* CBPM */
    border: 2px solid var(--font-default-color);
}


/* /* Header User Information   hui hui hui hui*/
.header-user-information {
    /* Display declarations */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;

    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;

    /* CBPM */

    /* DEBUG BORDERS */
    /* border: 2px solid magenta; */
}

.notification-bell-icon {
    /* Font and color declarations */
    filter: invert(79%) sepia(90%) saturate(287%) hue-rotate(18deg) brightness(104%) contrast(104%);
    /* Transforms and constraints */
    height: 24px;
}

.notification-bell-icon:hover {
    /* Font and color declarations */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(104%) contrast(102%);
}

.user-profile-pic-small, .user-profile-pic-small img {
    /* Font and color declarations */
    background-color: var(--font-default-color);

    /* Transforms and constraints */
    height: 48px;

    /* CBPM */
    border-radius: 24px;
    box-shadow: 2px 2px 2px black;
}

.user-name-menu {
    /* Font and color declarations */
    font-weight: 600;
}

.user-name-menu:hover {
    /* Font and color declarations */
    color: var(--font-default-color)
}


/* /* Header User Greeting  hug hug hug hug hug*/
.header-user-greeting {
    /* Display declarations */
    display: grid;
    grid-template-columns: minmax(108px, .75fr) 4fr;
    
    /* Grid declarations */
    grid-area: 2 / 1 / -1 / 2;

    /* CBPM */
    padding-right: 12px;

    /* DEBUG BORDERS */
    /* border: 2px solid yellow; */
}

.user-profile-pic-large {
    /* Grid declarations */
    grid-column: 1;
    align-self: center;

    /* Transforms and constraints */
    height: 96px;
    background-color: var(--font-default-color);

    /* CBPM */
    border-radius: 48px;
    box-shadow: 4px 4px 4px black;
}

.greeting-text {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Grid declarations */
    grid-column: 2;
}


/* /* Header Nav Menu   hnm hnm hnm hnm hnm hnm*/
.header-nav-links {
    /* Display declarations */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;

    /* Transforms and constraints */
    min-width: min-content;

    /* Grid declarations */
    grid-area: 2 / 2 / -1 / -1;

    /* DEBUG BORDERS */
    /* border: 2px solid white; */
}

.header-nav-buttons {
    /* Display declarations */
    flex: 1;

    /* Font and color declaratinos */
    background-color: var(--valid-color);
    color: var(--background-color-darker);
    font-weight: 600;

    /* Transforms and constraints */
    height: 36px;
    min-width: fit-content;
    max-width: 150px;

    /* CBPM */
    border-radius: 18px;
    border: 2px solid var(--background-color-darker);
    box-shadow: 2px 2px 2px #000000;
}

.header-nav-buttons:hover {
    /* Font and color transformations */
    background-color: var(--font-default-color);

    /* CBPM */
    border: 2px solid var(--valid-color);
}



/* CONTENT GRID CG  CG  CG  CG  CG  CG  CG  CG  CG  CG  CG  CG  CG   */
/* /* Card Grid cg  cg  cg  cg  cg  cg  cg  cg */
.card-grid-header {
    /* Grid declarations */
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;

    /* CBPM */
    padding-bottom: 4px;
}

.card-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-rows: repeat(3,minmax(200px, 300px));
    grid-auto-rows: minmax(200px, 300px);
    gap: 24px;
    overflow: scroll;
    scrollbar-width: none;

    /* Grid declarations */
    grid-area: 2 / 1 / -1 / 2;

    /* Transforms and constraints */
    max-height: 100%;

    /* CBPM */
    padding-right: 24px;

    /* DEBUG BORDERS */
    /* border: 2px solid cyan; */
}



/* /* Site Feed sf  sf  sf  sf  sf  sf  sf  sf */
.site-feed-header {
    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;
}

.site-feed-container {
    /* Display declarations */
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    overflow: scroll;
    scrollbar-width: none;

    /* Grid declarations */
    grid-area: 2 / 2 / 3 / -1;

    /* CBPM */
    border-radius: 15px;
    border: 2px solid var(--font-default-color);
    padding: 4px;
}



/* /* Site Trends   st  st  st  st  st  st  st */
.site-trends-header {
    /* Grid declarations */
    grid-area: 3 / 2 / 4 / -1;
    align-self: end;
}

.site-trends-container {
    /* Display declarations */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    overflow: scroll;
    scrollbar-width: none;

    /* Grid declarations */
    grid-area: 4 / 2 / -1 / -1;

    /* DEBUG BORDERS */
    border: 2px solid yellow;
}



/* CONTENT CARD STYLE   CC  CC  CC  CC  CC  CC  CC  CC  CC  CC  CC   */
.content-card {
    /* Display declarations */
    display: grid;
    grid-template-rows: min-content 1fr 60px;

    /* Font and color declarations */
    background-color: var(--accent-color);

    /* CBPM */
    border-radius: 15px;;
    padding: 0px 12px;

    /* DEBUG BORDERS */
    border: 2px solid white;    
}

.content-card h4 {
    /* Grid declarations */
    grid-area: 1;
    align-self: end;

    /* CBPM */
    border-bottom: 2px solid var(--background-color-darker);
    padding-top: 6px;
}

.content-card p {
    /* Grid declarations */
    grid-area: 2;
    overflow: scroll;
    scrollbar-width: none;
}

.card-links {
    /* Display declarations */
    display: flex;
    justify-content: flex-end;
    gap: 6px;

    /* Grid declarations */
    grid-area: 3;

    /* CBPM */
    border-top: 1px solid var(--background-color-darker);
    padding-bottom: 12px;
}

.card-links img {
    /* Font and color declarations */
    filter: invert(79%) sepia(90%) saturate(287%) hue-rotate(18deg) brightness(104%) contrast(104%);

    /* Transforms and constraints */
    height: 36px;
}

.card-links img:hover {
    /* Font and color declarations */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(104%) contrast(102%);
}



/* SITE FEED STYLE  SF  SF  SF  SF  SF  SF  SF  SF  SF  SF  SF  SF   */
.site-feed-header {
    /* Grid declarations */
    align-self: end;

    /* CBPM */
    padding-bottom: 4px;
}

.site-feed-card {
    /* Display declarations */
    display: grid;
    grid-template-rows: min-content 1fr;
}

.site-feed-card h4 {
    color: var(--valid-color);
    /* Grid declarations */
    grid-row: 1;
    align-self: end;

    /* CBPM */
    border-bottom: 2px solid var(--accent-color);
    padding-top: 8px;
}

.site-feed-card p {
    /* Grid declarations */
    grid-row: 2;
    overflow: scroll;
    scrollbar-width: none;

    /* CBPM */
    padding: 0px 4px 4px 4px;
    border-bottom: 1px solid var(--font-default-color);
}





/* SIDE TRENDS STYLE    ST  ST  ST  ST  ST  ST  ST  ST  ST  ST  ST   */
.site-trends-card {
    /* Display declarations */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);

    /* DEBUG BORDERS */
    border: 2px solid white;
}

.site-trends-card a {
    /* Grid declarations */
    grid-area: 1 / 1 / -1 / 2;
}

.site-trends-card h5 {
    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;
}

.site-trends-card p {
    /* Grid declarations */
    grid-area: 2 / 2 / -1 / -1;
}