/* FONT IMPORT */
/* All fonts from fonts.google.com */

.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", system-ui;
    font-weight: 700;
    font-style: normal;
  }





/*CSS RESET AND NORMALIZATION   CSS CSS CSS CSS CSS CSS CSS CSS CSS  */
/* Remove annoying padding (opinion) */
body, ul, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remove annoying text decoration (opinion) */
a {
    text-decoration: none;
    color: inherit;
}





/* THEME TH TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH   */

:root {
    /* Colors */
    --background-color: #00302a;
    --accent-color: #07463f;
    --valid-color: #e1ff67;
    --font-default-color: #ffffff;
}

body {
    /* Font and color declarations */
    background-color: var(--background-color, #0F220F);
}

h1, h2, h3, h4, h5, a, p {
    /* Font and color declarations */
    font-family: Syne, sans-serif;
    color: var(--font-default-color,#ffffff);

    /* CBPM */
    padding: 0;
    margin: 0;
}

p {
    /* Font and color declarations */
    font-family: Titillium Web, sans-serif;
}

a {
    /* Font and color declarations */
    color: var(--valid-color, white);
}



/* LAYOUT GRID LG   LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG   */
.layout-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
}

.sidebar {
    /* Display declarations */
    display: grid;
    grid-template-rows: 0.25fr 2fr 2fr;

    /* Grid declarations */
    grid-area: 1 / 1 / -1 / 2;

    /* DEBUG BORDERS */
    border: 2px solid red;
}

.header-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: minmax(50px, 80px) minmax(120px, 1.5fr);

    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;

    /* CBPM */
    padding: 6px 24px;

    /* DEBUG BORDERS */
    border: 2px solid green;
}

.content-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr;

    /* Grid declarations */
    grid-area: 2 / 2 / -1 / -1;
    
    /* DEBUG BORDERS */
    border: 2px solid blue;

}



/* SIDEBAR STYLE    SB  SB  SB  SB  SB  SB  SB  SB  SB  SB  SB  SB   */




/* HEADER STYLE H   H   H   H   H   H   H   H   H   H   H   H   H   H*/

/* /* Header Search Bar hs  hs  hs  hs  hs  hs */
.header-search-bar {
    /* Display declarations */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;

    /* Grid declarations */
    grid-area: 1 / 1 / 2 / 2;

    /* CBPM */


    /* DEBUG BORDERS */
    /* border: 2px solid cyan; */
}

.search-icon {
    /* Font and color declarations */
    filter: invert(79%) sepia(90%) saturate(287%) hue-rotate(18deg) brightness(104%) contrast(104%);

    /* Transforms and constraints */
    height: 24px;
    
}

.search-icon:hover {
    /* Font and color declarations */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(104%) contrast(102%);
}

.header-search-bar input {
    /* Display declarations */
    flex-grow: 1;

    /* Transforms and constraints */
    height: 24px;
    max-width: 400px;

    /* CBPM */
    border-radius: 10px;

}


/* /* Header User Information   hui hui hui hui*/
.header-user-information {
    /* Display declarations */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;

    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;

    /* CBPM */

    /* DEBUG BORDERS */
    /* border: 2px solid magenta; */
}

.notification-bell-icon {
    /* Font and color declarations */
    filter: invert(79%) sepia(90%) saturate(287%) hue-rotate(18deg) brightness(104%) contrast(104%);
    /* Transforms and constraints */
    height: 24px;
}

.notification-bell-icon:hover {
    /* Font and color declarations */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(104%) contrast(102%);
}

.user-profile-pic-small, .user-profile-pic-small img {
    /* Font and color declarations */
    background-color: var(--font-default-color);

    /* Transforms and constraints */
    height: 48px;

    /* CBPM */
    border-radius: 24px;
}

.user-name-menu {
    /* Font and color declarations */
    font-weight: 600;
}

.user-name-menu:hover {
    /* Font and color declarations */
    color: var(--font-default-color)
}


/* /* Header User Greeting  hug hug hug hug hug*/
.header-user-greeting {
    /* Display declarations */
    display: grid;
    grid-template-columns: minmax(108px, .75fr) 4fr;
    
    /* Grid declarations */
    grid-area: 2 / 1 / -1 / 2;

    /* DEBUG BORDERS */
    border: 2px solid yellow;
}

.user-profile-pic-large {
    /* Grid declarations */
    grid-column: 1;
    align-self: center;

    /* Transforms and constraints */
    height: 96px;
    background-color: var(--font-default-color);

    /* CBPM */
    border-radius: 48px;
}

.greeting-text {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Grid declarations */
    grid-column: 2;
}



.header-nav-links {
    /* Grid declarations */
    grid-area: 2 / 2 / -1 / -1;

    /* DEBUG BORDERS */
    border: 2px solid white;
}



/* CONTENT GRID CG  CG  CG  CG  CG  CG  CG  CG  CG  CG  CG  CG  CG   */
.card-grid-header {
    /* Grid declarations */
    grid-area: 1 / 1 / 2 / 2;
}

.card-grid-container {
    /* Display declarations */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-template-rows: repeat(3,minmax(200px, 1fr));
    gap: 15px;

    /* Grid declarations */
    grid-area: 2 / 1 / -1 / 2;

    /* DEBUG BORDERS */
    border: 2px solid cyan;
}

.site-feed-header {
    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;
}

.site-feed-container {
    /* Display declarations */
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    /* Grid declarations */
    grid-area: 2 / 2 / 3 / -1;
    
    /* DEBUG BORDERS */
    border: 2px solid magenta;
}

.site-trends-header {
    /* Grid declarations */
    grid-area: 3 / 2 / 4 / -1;
}

.site-trends-container {
    /* Display declarations */
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    /* Grid declarations */
    grid-area: 4 / 2 / -1 / -1;

    /* DEBUG BORDERS */
    border: 2px solid yellow;
}



/* CONTENT CARD STYLE   CC  CC  CC  CC  CC  CC  CC  CC  CC  CC  CC   */
.content-card {
    /* Display declarations */
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;

    /* DEBUG BORDERS */
    border: 2px solid white;    
}

.content-card h4 {
    /* Grid declarations */
    grid-area: 1;
}

.content-card p {
    /* Grid declarations */
    grid-area: 2;
}

.card-links {
    /* Display declarations */
    display: flex;

    /* Grid declarations */
    grid-area: 3;
}



/* SITE FEED STYLE  SF  SF  SF  SF  SF  SF  SF  SF  SF  SF  SF  SF   */
.site-feed-card {
    /* Display declarations */
    display: flex;
    flex-direction: column;

    /* DEBUG BORDERS */
    border: 2px solid white;
}



/* SIDE TRENDS STYLE    ST  ST  ST  ST  ST  ST  ST  ST  ST  ST  ST   */
.site-trends-card {
    /* Display declarations */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);

    /* DEBUG BORDERS */
    border: 2px solid white;
}

.site-trends-card a {
    /* Grid declarations */
    grid-area: 1 / 1 / -1 / 2;
}

.site-trends-card h5 {
    /* Grid declarations */
    grid-area: 1 / 2 / 2 / -1;
}

.site-trends-card p {
    /* Grid declarations */
    grid-area: 2 / 2 / -1 / -1;
}